{% extends 'find_restaurant/base.html' %}

{% block page_header %}

<!-- Add a search bar for the address to search from -->

{% endblock page_header %}

{% block content %}

<div class="p-3 mb-4 bg-light text-light border rounded-3" style="--bs-bg-opacity: 0.1;">
    <div class="container-fluid py-4 text-center">
        
        <h1 class="display-3">{{ name }}</h1>
        <p class="lead">
            {{ vicinity }}
        </p>
        <img src="{{ photos }}" alt="" class="img-fluid rounded-3">

        <form action="" method="post">
            {% csrf_token %}
            <button class="m-3 btn btn-light" onclick="location.reload">Refresh</button>
        </form>
    </div>
</div>

<!-- TODO Add filtering options to make requests more specific -->

{% endblock content %}